@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("./widgets/letterboxd/letterboxd.css");

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}

.widget {
  border-radius: .75rem;
}

#widget-letterboxd {
  width: 50%;
}