#letterboxd-widget {
  background-color: #1a2127;
  font-family: TiemposTextWeb, Georgia, serif;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li.letterboxd-diary-entry {
      display: flex;
      padding: 20px 5px;
      border-bottom: 2px solid #789;

      .movie-cell {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .movie-date {
        width: 10%;

        .letterboxd-date {
          display: inline-grid;
          text-align: center;
          grid-template-rows: [top] 15px [month] min-content [gap] 2px [year] min-content auto [bottom];

          svg {
            grid-column: 1;
            grid-row: top / bottom;
            fill: #456;
          }

          .letterboxd-year {
            font-size: .6875rem;
            grid-row: year;
          }

          .letterboxd-day-month {
            font-size: 1rem;
            grid-row: month;
          }

          .letterboxd-day-month,
          .letterboxd-year {
            grid-column: 1;
            color: #def;
          }
        }
      }

      .movie-image {
        width: 10%;

        img {
          width: 60px;
        }
      }

      .movie-name {
        width: 50%;
        justify-content: start;

        color: white;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.25;
      }

      .movie-release-year {
        width: 10%;
        color: #81909f;
        font-weight: 400;
      }

      .movie-rating {
        width: 15%;

        .checked,
        .fa-star-half {
          color: #00e054;
        }
      }

      .movie-like {
        width: 5%;

        .fa-heart {
          color: #ff9010
        }
      }
    }
  }

  #view-more {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 1.125rem;
      padding: 20px 5px;

      &:hover {
        font-size: 1.175rem;
      }
    }
  }
}